body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

form {
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.book-section{
    display: none;
}

.patron-section{
    display: none;
}

.loans-section{
    display: none;
}